body{
    font-family: Verdana,sans-serif;
    font-size: x-small;
}

#wraper {
    width: 960px; 
    margin: 0px auto;
    margin-top: 20px;    
    font-size: 1.1em;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

h2{
    font-size: 1.4em;
    font-weight: normal;
}

h3 {
    font-size: 1.1em;
    font-weight: normal; 
    color: #888888;
    text-transform: uppercase;
    margin: 0px;
    margin-top: -5px;
}

h4 {
    font-weight: normal;
    font-size: 1.7em;
    margin-top: 65px;
    color: #888888;
}
    
a {
    color: black;
    text-decoration: none;
}

    a:hover {
        color: #1EA3E8;
    }

hr {
    clear: both;
    color: #888;
}

ul {
    list-style: none;
}    

#main-menu {
    border-top: solid black 1px;
    position: absolute;
    width: 960px;
}

    #main-menu ul {
        padding-left: 0px;
    }

    #main-menu li {
        float: left;
        margin-left: 10px;
        margin-right: 10px;
    }

    #main-menu .search {
        margin-top: -8px;
    }
    
    .active h3{
        color: black !important;
    }

    #search .button {
        margin-left: 10px;
        cursor: pointer;
    }    

    #search input {
        border: 1px solid #999;
    }

#content{
    background-color: #e3e3e3;
    border-top: solid 1px #b8b8b8;
    margin-top: 15px;
    padding: 20px;
    color: #474747;
    overflow: auto;   
}

article{
    display: block;
    float: left;
    width: 660px;
}

aside{
    width: 180px;
    float: right;
    padding-left: 50px;   
}

    aside .underline{
        background-color: #B8B8B8;
        height: 1px;
    }
    
    aside ul{
        text-align: right;
        margin-bottom: 40px;
        margin-top: 5px;
    }
    
/* Tweets */
.tweets{
    padding-left: 10px;
}

.tweets li {
    font-size:80%;
    clear:both;
    margin-bottom:10px;
    line-height:130%;
}

.tweets img {
    float:left;
    border:1px solid #000;
    margin:0 5px 5px 0;
    width:32px; height:32px;
}

.tweets .timespan {
    font-style:italic;
    color: #666;
}

.tweets .name {
    color: #666;
}

.recycle {
    font-size:150%;
    }

.retweet  {
    float:none;
    margin-bottom:-5px;
    width:16px;
    height:16px;
}

.since {
    display:block;
    margin-bottom:20px;
}
