{% load pages_tags i18n %}

<h3 class="right" >
    Links
</h3>
<div class="clear underline"  > </div>
<ul class="right" >
    <li>
        <a href="centrumcyfrowe.pl" target="_blank" >
            Centrum Cyfrowe
        </a>
    </li>
    <li>
        <a href="lablog.centrumcyfrowe.pl" target="_blank" >
            Developers Blog
        </a>
    </li>
</ul>

<h3 class="right" >
    Other projects
</h3>
<div class="clear underline"  > </div>
<ul class="right">
    <li>
        <a href="rakun.centrumcyfrowe.pl" target="_blank" >
            Rakun
        </a> 
    </li>
    <li>
        <a href="lablog.centrumcyfrowe.pl" target="_blank" >
            Blog
        </a> 
    </li>
    <li>
        <a href="otwartedane.pl" target="_blank" >
            Otwarte dane
        </a> 
    </li>
</ul>

{% include "twitter/tweets.html" %}

<h3 class="right" >
    Lablog:
</h3>
<div class="clear underline"  > </div>
<ul class="right">
    <li>
        <a href="lablog.centrumcyfrowe.pl" target="_blank" >
            Post1
        </a> 
        <p>
            Post1 summary
        </p>
    </li>
    <li>
        <a href="lablog.centrumcyfrowe.pl" target="_blank" >
            Post2
        </a> 
        <p>
            Post2 summary
        </p>    
    </li>
</ul>
